# Ignore Jupyter Notebook checkpoints
**/Notebooks/.ipynb_checkpoints/

# Ignore all Jupyter notebooks
*.ipynb

# Ignore all CSV files
*.csv

# Ignore temporary files and directories
**/temp/

# Ignore specific datasets or large files that are not needed in the Docker image
Backend/ML/Datasets/WikiMatrix/WikiMatrix.en-hi.en
Backend/ML/Datasets/WikiMatrix/WikiMatrix.en-hi.hi

# Ignore specific notebooks that are not needed in the Docker image
Backend/ML/Notebooks/Data Manipulation.ipynb
Backend/MLNotebooks/Google T5 +Lora.ipynb
Backend/MLNotebooks/M2M100 and Lora.ipynb

# Ignore image files that are not needed in the Docker image
*image.png

